ul {
    margin: 0;
    padding:0;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: 
    rgba(33, 37, 41, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover {
    color: burlywood;
}
header {
    display: flex;
}
span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: 
    rgba(33, 37, 41, 1);
    margin-left: 207px;
}
nav {
   margin-left: auto;
}

