
body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
}
ul {
    margin: 0;
    padding:0;
}

li {
    list-style-type: none;
}

.nav {
    text-decoration: none;
    color: 
    rgba(33, 37, 41, 1);
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.nav:hover {
    color: rgba(249, 198, 123, 1);
    transition: color 0.3s;
}

header {
    display: flex;
    margin: 0 32px;
}

.number {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    color: 
    rgba(33, 37, 41, 1);
    margin-left: 207px;
}

nav {
   margin-left: auto;
}

main {
    /* height: 1120px; */
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    margin: 0 32px;
    margin-top: 50px;
}

.chapter1 {
    display: flex;
    height: 258px;
}

h1 {
    font-size: 72px;
    width: 794px;
    /* height: 258px; */
    font-weight: 200;
    text-transform: uppercase;
    margin: 0;
    margin-right: auto;
}

.project {
    color: 
    rgba(33, 37, 41, 1);
    text-transform: uppercase;
    margin-left: auto;
    margin-top: auto;
}

.project:hover {
    color:rgba(249, 198, 123, 1);
    transition: color 0.3s;
}

.chapter2 {
    display: flex;
    margin-top: 32px;
    height: 841px;
}

 .subtitle {
    display: flex;
    flex-direction: column;
}  

 .paragraph1 {
    font-size: 20px;
    width: 445px;
    height: 84px;
    margin: 0;
    margin-bottom: auto;
}

.left {
    margin-top:auto;
} 

 .right {
    margin-left: auto;
} 
.about {
    margin-top: 120px;
    margin-left: 32px;
    margin-right: 32px;
    display: flex;
}
.five {
    width: 562px;
    height: 198px;
    margin-right: auto;
    font-size: 48px;
}
.aboutus {
    width: 679px;
    margin-left: auto;
}
.about-text {
    height: 208px;
    margin-bottom: 44px;
}
.about-text p {
    width: 446px;
    height: 66px;
    font-size: 16px;
    margin: 0;
    margin-bottom: 16px;
}
.about-text p:nth-child(2) {
    height: 44px;
}
.about-text p:nth-child(3) {
    margin-bottom: 0;
}
.about-info {
    height: 308px;
}
.about-info-item {
    margin-bottom: 24px;
}
.about-info-item:nth-child(3) {
    margin-bottom: 0;
}
.about-info-item span {
    font-size: 36px;
}
.about-info-item p {
    font-size: 16px;
}